table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: rgb(37, 12, 37);
  color: rgb(248, 230, 230);
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
}
.table-row {
  cursor: pointer;
}
.selected {
  background-color: rgb(241, 176, 249);
}
